.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}

.container button {
    width: 60px;
    height: 60px;
    background-color: rgb(174, 108, 47);

    border-radius: 50%;
    border: none;

    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.container button:hover {
    background-color: rgba(174, 108, 47, 0.653);
}

.container button + button {
    margin-left: 15px;
}
